<%= flash[:notice] %>
<h1 class="page-title">Videos with audio descriptions</h1>

<table class="table col-md-12 text-center" id="videos">
  <tbody>
    <% @videos_info.each do |video| %>
      <tr>
        <td>
          <%= link_to video["title"], "/video/#{video["id"]}", data: { turbolinks: 'false' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
</script>