/* Global styling */
@import "bootstrap";

$primary-font: Helvetica, sans-serif;
$primary-color: #063A74;

html {
    font: $primary-font;
    padding: 20px;
    font-size: 1.25rem;
}

body {
    background-color: $primary-color;
}

a {
  color: #0072A3;
}

#footer p {
  color: #ffffff;
}

#footer a {
  color: #1FBCFF;
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
 }

.btn-primary :hover {
  background-color: #0A60C2;
  border-color: #0A60C2;
}

.page-title {
    text-align: center;
    color: $primary-color;
    margin: 2rem 0 1rem 0;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* Styling for wrapper */
#main-wrapper {
    margin: 20px;
    border-radius: 25px;
    background-color: white;
}

#main-wrapper > #content {
    padding: 20px;
    height: 80%;
}

#yielded-content {
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 20px;
}

#page-nav {
    margin: 0 0 10px 0;
}

#footer {
    margin-top: 2rem;
}

.nav-link {
    display: inline-block;
}

.inline-link {
    display: inline-block;
    padding: 0;
    text-decoration: none;
}

.table-list {
    margin-bottom: 2rem;
}

.table-list-item {
    display: block;
}

.flex-box {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.center {
    justify-content: center;
}

.left {
    justify-content: left;
}

.flex-item {
    width: 25%;
    padding: 1rem;
}

.section {
    margin: 2rem 0;
}