/* Global styling */
@import "bootstrap";

$primary-font: Helvetica, sans-serif;
$primary-color: #9bddff;

html {
    font: $primary-font;
    background-color: $primary-color;
    padding: 20px;
    font-size: 1.25rem;
}

body {
    border-radius: 25px;
}

.page-title {
    text-align: center;
    color: $primary-color;
    margin: 2rem 0 1rem 0;
}

.text-center {
    text-align: center;
}

/* Styling for wrapper */
#main-wrapper {
    margin: 20px;
}

#main-wrapper > #content {
    padding: 20px;
    height: 80%;
}

#page-nav {
    margin: 0 0 10px 0;
}

.nav-link {
    display: inline-block;
}

.table-list {
    margin-bottom: 2rem;
}

.table-list-item {
    display: block;
}

.flex-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.flex-item {
    width: 25%;
}