<div class="card" style="margin-left: 2rem;">
  <div class="card-body">
    <strong>@<%= reply.comment_author.username %></strong>: <%= reply.comment_text %>
    <span style="float: right; color: gray;">
      <%= reply.created_at.strftime('%H:%M %Y-%m-%d ') %>
    </span>
  </div>
</div>